rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /Alcoholic/{document} {
      allow create: if false;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /Alcoholic/{parent}/Alcoholicbrands/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/Alcoholicbrands/{document} {
      allow read: if true;
    }


    match /Non-alcoholic/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /Foods/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /Foods/{parent}/Dishes/{document} {
      allow create: if false;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/Dishes/{document} {
      allow read: if true;
    }


    match /Non-alcoholic/{parent}/Nonalcoholicbrands/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }

    match /{path=**}/Nonalcoholicbrands/{document} {
      allow read: if true;
    }


    match /Snacks/{document} {
      allow create: if true;
      allow read: if true;
      allow write: if false;
      allow delete: if false;
    }
  }
}
